.page.theme_light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --main-title-color: #ffc2e6;
  --title-color: #353430;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --buttons-and-pseudo-color: #353430;
  --hover-color: #ada4a6;
  --hover--focus-link-color: #353430;
}

@media (prefers-color-scheme: light) {
  .theme_auto .rec,
  .theme_light .rec {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --main-title-color: #ffc2e6;
    --title-color: #353430;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --buttons-and-pseudo-color: #353430;
    --hover-color: #ada4a6;
    --hover--focus-link-color: #353430;
  }
}
